<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB06nr3qHWeLdvgZ6pdC_CIiYLIKJM7dGc</string>
	<key>GCM_SENDER_ID</key>
	<string>174212437230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTiktokClone</string>
	<key>PROJECT_ID</key>
	<string>fluttertiktokclone-35dc3</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertiktokclone-35dc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174212437230:ios:c36e5896cac2182e130fff</string>
</dict>
</plist>